{% extends 'blog/base.html' %}

{% block content %}
  {% if not object.paso_fecha_inscripcion %}
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">{{ object.nombre }}</h2>
      <p class="article-content">Fecha inicio: {{ object.inicio_campeonato }}</p>
      <p class="article-content">Fin inscripciones: {{ object.fin_inscripciones }}</p>
      <hr/>
      <form method="post" action="{% url 'campeonato-inscripcion' object.id %}">
        {% csrf_token %}
        {% for normativa in normativas %}
          <input type="radio" name="normativa" id="normativa{{ forloop.counter }}" value="{{ normativa.id }}">
          <label for="normativa{{ forloop.counter }}">Categoria: {{ normativa.get_categoria_display }}</label>
          <label for="normativa{{ forloop.counter }}">Nivel: {{ normativa.get_nivel_display }}</label>
          <hr/>
        {% endfor %}
          <p class="article-content">Parejas en las que eres capitán:</p>
        {% if not parejas %}
          <p class="article-content">Ninguna</p>
        {% else %}
          <select class="btn" name="parejas" required=true>
            {% for pareja in parejas %}
              <option value="{{ pareja.id }}">C: {{ pareja.capitan }}--M: {{ pareja.miembro }}</option>
            {% endfor %}
          </select>
          <a class="btn btn-outline-secondary float-right" href="#">Nueva Pareja</a>
        {% endif %}
        <hr/>
        <button type="submit" class="btn btn-outline-info float-right">Inscribirse</button>
      </form>
      <form method="post" id="desinscribirse_form" action="{% url 'campeonato-desinscripcion' object.id %}">
        {% csrf_token %}
        <input type="hidden" name="pareja_placeholder">
        <button type="submit" class="btn btn-outline-danger">Desinscribirse</button>
      </form>
    </div>
  </article>
  {% else %}
    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">{{ object.nombre }}</h2>
        <p class="article-content">Fecha inicio: {{ object.inicio_campeonato }}</p>
        <p class="article-content">Tu pareja: {{ pareja }}</p>
        <p class="article-content">Grupo {{ pareja.grupo.nombre }} ({{ pareja.grupo.normativa }})</p>
        <a class="btn btn-outline-info float-right" href="{% url 'campeonato-clasificacion' pareja.id %}">Clasificación</a>
    </div>
  </article>

  <article class="media content-section">
    <div class="media-body">
      <h4 class="article-title">Primera fase</h4>
      <hr/>
      <p class="article-content">Enfrentamientos</p>
      {% for enfrent in primera_ronda %}
        <div>
          <a class="btn btn-outline-info float-right" href="{% url 'enfrentamiento-detail' enfrent.id %}">Detalle</a>
          <p>{{ enfrent.pareja_1.capitan }} y {{ enfrent.pareja_1.miembro }} vs. {{ enfrent.pareja_2.capitan }} y {{ enfrent.pareja_2.miembro }}</p>
        </div>
      {% endfor %}
    </div>
  </article>
  {% if cuartos %}
    <article class="media content-section">
      <div class="media-body">
        <h4 class="article-title">Cuartos</h4>
        <hr/>
        <p class="article-content">Enfrentamientos</p>
        {% for enfrent in cuartos %}
          <div>
            <a class="btn btn-outline-info float-right" href="{% url 'enfrentamiento-detail' enfrent.id %}">Detalle</a>
            <p>{{ enfrent.pareja_1.capitan }} y {{ enfrent.pareja_1.miembro }} vs. {{ enfrent.pareja_2.capitan }} y {{ enfrent.pareja_2.miembro }}</p>
          </div>
        {% endfor %}
      </div>
    </article>
  {% endif %}

  {% if semis %}
    <article class="media content-section">
      <div class="media-body">
        <h4 class="article-title">Semifinales</h4>
        <hr/>
        <p class="article-content">Enfrentamientos</p>
        {% for enfrent in semis %}
          <div>
            <a class="btn btn-outline-info float-right" href="{% url 'enfrentamiento-detail' enfrent.id %}">Detalle</a>
            <p>{{ enfrent.pareja_1.capitan }} y {{ enfrent.pareja_1.miembro }} vs. {{ enfrent.pareja_2.capitan }} y {{ enfrent.pareja_2.miembro }}</p>
          </div>
        {% endfor %}
      </div>
    </article>
  {% endif %}

  {% if final %}
    <article class="media content-section">
      <div class="media-body">
        <h4 class="article-title">Final</h4>
        <hr/>
        <p class="article-content">Enfrentamientos</p>
        {% for enfrent in final %}
          <div>
            <a class="btn btn-outline-info float-right" href="{% url 'enfrentamiento-detail' enfrent.id %}">Detalle</a>
            <p>{{ enfrent.pareja_1.capitan }} y {{ enfrent.pareja_1.miembro }} vs. {{ enfrent.pareja_2.capitan }} y {{ enfrent.pareja_2.miembro }}</p>
          </div>
        {% endfor %}
      </div>
    </article>
  {% endif %}

{% endif %}


<script>

$( document ).ready(function() {
  pareja_id = $('select').val()

  set_radio_button(pareja_id)
  // Settear el valor del hidden input del form Desinscribirse
  $('input[name=pareja_placeholder]').val(pareja_id)

});

$('select').on('change', function() {
  pareja_id = this.value
  set_radio_button(pareja_id)
  // Settear el valor del hidden input del form Desinscribirse
  $('input[name=pareja_placeholder]').val(pareja_id)
});

function set_radio_button(pareja_id)
{
      {% if pareja.normativa %}
        $('input[name=normativa][value={{ pareja.normativa.id }}]').prop("checked", true)
        // $('button[type=submit]').html("Modificar")
        $('button:contains("Inscribirse")').html("Modificar")
        $('#desinscribirse_form').prop("hidden", false)
        $('br').prop("hidden", false)


      {% else %}
        $('input[type="radio"]').prop('checked', false);
        $('button:contains("Modificar")').html("Inscribirse")
        $('#desinscribirse_form').prop("hidden", true)
        $('br').prop("hidden", true)
      {% endif %}
}

</script>

{% endblock %}
