{% extends 'blog/base.html' %}

{% block content %}

  {% if reservas.count <= 0 %}
    <p class="text-muted">No tienes ninguna reserva activa</p>
  {% endif %}
  <div class="mb-3">
    <a class="btn btn-outline-info mr-2" href="{% url 'reserva-historial' %}">Historial reservas</a>
    <a class="btn btn-outline-info" href="{% url 'reserva-create' %}">Nueva reserva</a>
  </div>
  {% for reserva in reservas %}
  <article class="media content-section">
    <div class="media-body">
      <!-- <h2><a class="article-title" href="{% url 'reserva-detail' reserva.id %}">Reserva de: {{ reserva.pista.nombre }}({{ reserva.usuario }})</a></h2> -->
      <h2 class="article-title">Reserva de: {{ reserva.pista.nombre }}({{ reserva.usuario }})</h2>
      <p class="article-content">El día {{ reserva.fecha }}</p>
      <p class="article-content">De {{ reserva.horario_pista.hora_inicio }} a {{ reserva.horario_pista.hora_fin }}</p>
      <a class="btn btn-outline-danger float-right" href="{% url 'reserva-delete' reserva.id %}">Cancelar reserva</a>
    </div>
  </article>

  {% endfor %}
{% endblock %}
